/* INNEHÅLLSFÖRTECKNING ÖVER ORDNINGEN:
GEMENSAMMA REGLER FÖR LAPTOP OCH MOBIL
  - html, body, bilder, rubriker, p, ul osv.

LAPTOP-VERSION
  - Header
    - menyn: navigation bar
  - Nude-box på startsidan
  - Footer inkl. button
  - Huvudbox på sidan "priser"
    - menyn på sidan "priser"
    - randiga textblock med information på sidan "priser"
  - Huvudbox på sidan "aktuellt"
  - Bildgalleri

MOBIL-VERSION
- MOBIL-ÄNDRINGAR HEADER
- MOBIL-ÄNDRINGAR NAVIGATION BAR PÅ SIDAN "PRICES"
- MOBIL-ÄNDRINGAR PÅ SIDAN "AKTUELLT"
- MOBIL-ÄNDRINGAR FÖR NUDE BOX PÅ SIDAN "INDEX"
- MOBIL-ÄNDRINGAR BILDGALLERI
- MOBIL-ÄNDRINGAR FOOTER
*/

/* GEMENSAMMA FÖRHÅLLNINGSREGLER FÖR MOBIL- OCH LAPTOP-VERSION */
 html{
   margin: 0px;
   padding: 0px;
   width: 100%;
   max-width: 100%;
 }
 body {
   background-color: #ffffff;
   color: #000000;
   margin: 5px 0px;
   padding: 0px;
   width: 100%;
   max-width: 100%;
   text-decoration: none;
 }
 * {
   box-sizing: border-box;
 }
      /* START BILDER */
        #pic1, #pic2, #pic3 {
          width: 100%;
          height: auto;
          padding: 15px 6px;
        }
        #pic4, #pic5, #pic6 {
          width: 100%;
          height: 600px;
          padding: 15px 6px;
        }
        /* SLUT BILDER */
 h1 {
  color: #000000;
  text-decoration: none;
  font-family: "open-sans", arial, helvetica, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
}
 h2 {
  color: #000000;
  text-decoration: none;
  font-family: "open-sans", arial, helvetica, sans-serif;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 2px;
}
 h4 {
  color: #000000;
  text-decoration: none;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "open-sans", arial, helvetica, sans-serif;
  margin: 0px;
  font-weight: lighter;
  letter-spacing: 1px;
}
 h5 {
  color: #000000;
  text-decoration: none;
  font-family: "open-sans", arial, helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
 p {
  color: #000000;
  text-decoration: none;
  font-family: verdana, georgia, sans-serif;
  font-size: 16px;
}
 ul {
  list-style-type: none;
  font-family: verdana, georgia, sans-serif;
}
/* SLUT PÅ GEMENSAMMA FÖRHÅLLNINGSREGLER */

/* START PÅ LAPTOP-VERSION */
/* START HEADER */
 .flex-container-header { /* Parent of logo and navigation bar */
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 15px;
   padding-bottom: 5px;
   width: 100%;
   max-width: 100%;
   height: auto;
   color: #000000;
   }
   .flex-container-header a {
     justify-content: center;
     align-items: center;
   }
   #logo {
     display: flex;
     flex-direction: column;
     float: left;
     align-items: center;
     margin-right: 0px;
     justify-content: center;
   }
    /* START PÅ MENYN: NAVIGATION BAR */
     .topnav { /* Child of "flex-container-header" */
     display: flex;
     flex-direction: row;
     width: 100%;
     max-width: 100%;
     background-color: #ead8c8;
     padding: 0px 40px 0px 40px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     position: relative;
     margin: 0px;
     overflow: hidden;
     justify-content: space-around;
     }
       .topnav a { /* Style the links inside the navigation bar */
         display: flex;
         flex-wrap: nowrap;
         text-transform: uppercase;
         float: left;
         display: block;
         padding: 14px 12px;
         text-decoration: none;
         color: #000000;
         font-family: "open-sans", arial, helvetica, sans-serif;
         margin: 3px 0px 3px 0px;
       }
         .topnav a:hover {  /*Change the color of links on hover*/
           background-color: #F4E4D6;
           padding: 14px 16px;
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         }
         .topnav a:hover:not(.active) {
           background-color: #F4E4D6;
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         }
         .topnav a.active { /* Add an active class to highlight the current page */
         background-color: #ffffff;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         }
         .topnav a.icon {   /* Hide the link that should open and close the topnav on small screens */
           display: none;
         }
/* SLUT PÅ HEADER */ /* SLUT PÅ MENYN: NAVIGATION BAR */

/* START NUDE-BOX */
   .flex-container-index-body { /* Parent */
   width: 100%;
   max-width: 100%;
   height: auto;
   background-color: #ead8c8;
   display: flex;
   float: left;
   flex-direction: column;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   color: #000000;
   padding: 0px 100px 0px 100px;
 }
   .flex-container-index-body h1, h2, h5 {
     margin: 10px 0px 0px 0px;
   }
   .flex-container-index-body p {
     margin: 1px 0px 10px 0px;
   }
   .flex-container-index-body h4 {
     padding: 5px 0px 5px 0px;
   }
/* SLUT PÅ NUDE-BOX */

/* BÖRJAN PÅ FOOTER */
   .flex-container-footer { /* PARENT OF "flex-container-footer-h1", "flex-opening-hours" and "flex-parent-column" */
     width: 100%;
     max-width: 100%;
     height: auto;
     background-color: #ffffff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 0px 40px 0px 40px;
   }
     .flex-container-footer-h1 { /* Child of "flex-container-footer" */
       text-align: left;
       padding: 0px 60px 0px 60px;
       width: 100%;
       max-width: 100%;
       float: left;
     }
     .flex-container-footer h5 {
       padding: 0px;
       margin: 5px 5px 0px 5px;
       font-size: 12px;
     }
     .flex-container-footer p {
       padding: 0px;
       margin: 5px 0px 10px 0px;
       font-size: 11px;
     }
     .flex-opening-hours { /* Child of "flex-container-footer"; Parent of "flex-opening-hours-monday" +4 */
       display: flex;
       text-align: left;
       float: left;
       flex-direction: row;
       padding: 0px 60px 0px 60px;
       height: auto;
       justify-content: center;
       width: 100%;
     }
     .flex-opening-hours h4 {
       padding-bottom: 10px;
       text-transform: uppercase;
       font-size: 18px;
       font-family: "open-sans", arial, helvetica, sans-serif;
       margin: 0px;
       font-weight: lighter;
       letter-spacing: 1px;
     }
     .flex-opening-hours h5 {
       margin: 0px;
       padding: 0px 0px 3px 0px;
       letter-spacing: 1px;
     }
     .flex-opening-hours p {
       margin: 0px;
       padding: 0px;
     }
       .flex-opening-hours-monday, .flex-opening-hours-tuesday, .flex-opening-hours-wednesday, .flex-opening-hours-thursday, .flex-opening-hours-friday {/* Child of "flex-opening-hours" */
         float: left;
         width: 20%;
         padding: 0px;
         margin: 0px;
       }
   .flex-parent-column { /* Child of "flex-container-footer"; Parent of "button-book-online" and "flex-contacts" */
       flex-direction: column;
       text-align: center;
       justify-content: center;
       padding: 0px 60px 0px 60px;
   }
     .flex-contacts { /* Child of "flex-parent-cloumn" */
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
       margin-bottom: 20px;
       padding-top: 15px;
       width: 100%;
       max-width: 100%;
     }
     .flex-contacts p {
       padding: 0px;
       text-align: center;
       margin: 0px;
     }
     .flex-contacts h5 {
       text-align: center;
     }
     /* START BUTTON (INCLUDED IN FOOTER)*/
       .button-book-online { /* Child of "flex-parent-column"; includes the button */
         justify-content: center;
         display: flex;
         justify-content: center;
         align-items: center;
       }
       .button { /* ONLINE BOOKING BUTTON; Child of "button-book-online"*/
         margin: 35px 0px 0px 0px;
         width: 45%;
         background-color: #ead8c8;
         font-family: "open-sans", arial, helvetica, sans-serif;
         border: none;
         color: black;
         padding: 15px;
         text-align: center;
         text-decoration: none;
         font-size: 16px;
         border-radius: 8px;
         display: block;
         text-transform: uppercase;
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Shadow behind button */
     }
     /* SLUT BUTTON */ /* SLUT PÅ FOOTER */

/* START HUVUDBOX PÅ SIDAN "PRISER" */
.boxForBoxPrices { /* PARENT OF "sidenav" */
background-color: #ffffff;
margin: 10px 0px 10px 0px;
padding: 0px;
display: flex;
flex-direction: column;
width: auto;
height: auto;
align-items: center;
justify-content: center;
}
  /* START PÅ MENYN PÅ SIDAN "PRISER" */
  .sidenav { /* CHILD of "boxForBoxPrices" */
    background-color: #F4E6D6;
    width: 85%;
    height: auto;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
  }
    .sidenav a {
      font-family: "open-sans", arial, helvetica, sans-serif;
      font-size: 1em;
      color: black;
      padding: 14px 16px;
      text-decoration: none;
      text-transform: uppercase;
      justify-content: space-around;
    }
    .sidenav a:hover {
      background-color: #ead8c8;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    /* SLUT PÅ MENYN PÅ SIDAN "PRISER" */

/* BÖRJAN PÅ RANDIGA TEXTBLOCK MED INFORMATION PÅ SIDAN "PRISER" */
    /* RAND 1 OCH 3 */
    .klippning, .behandling {
        background-color: #ead8c8;
    } /* SLUT PÅ RAND 1 OCH 3 */
    /* BÖRJAN PÅ RAND 2 OCH 4 */
    .coloring, .hairtalk {
        background-color: #F4E6D6;
    } /* SLUT PÅ RAND 2 OCH 4 */
  /* GEMENSAMMA REGLER FÖR ALLA RÄNDER I RANDIGA TEXTBLOCK */
  .klippning, .behandling, .coloring, .hairtalk {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: auto;
    width: 85%;
    margin: 0px 0px 10px 0px;
  }
  .klippning h3, .behandling h3, .coloring h3, .hairtalk h3 {
    text-transform: uppercase;
    font-size: 2em;
    font-family: "open-sans", arial, helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 10px 0px;
  }
  .klippning h4, .behandling h4, .coloring h4, .hairtalk h4 {
    font-weight: bold;
  }
  .klippning h5, .behandling h5, .coloring h5, .hairtalk h5 {
    font-weight: lighter;
  }
  .klippning h6, .behandling h6, .coloring h6, .hairtalk h6 {
    font-weight: lighter;
    margin: 2px;
  }
  .klippning ul, .behandling ul, .coloring ul, .hairtalk ul {
    padding: 3px 3px 3px 40px;
  }
  .klippningRight, .behandlingRight, .coloringRight, .hairtalkRight {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    height: auto;
    width: auto;
    padding: 102px 16px 14px 16px;
  }
  .klippningLeft, .behandlingLeft, .coloringLeft, .hairtalkLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 14px 17px;
    width: 45%;
  }
  /* SLUT PÅ RANDIG INFORMATION */
/* SLUT PÅ HUVUDBOXEN PÅ SIDAN "PRISER" */

/* START PÅ HUVUDBOX PÅ SIDAN "AKTUELLT" */
/* GEMENSAMMA REGLER I HUVUBOXEN */
.randAktuelltHeadline, .ljusRandAktuellt, .darkRandAktuellt, .randAktuelltLeft {
  display: flex;
  flex-direction: column;
}
.ljusRandAktuellt, .darkRandAktuellt {
  justify-content: flex-start;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: auto;
  width: 85%;
  margin: 0px 0px 10px 0px;
  padding: 14px 16px;
}
/* SLUT På GEMENSAMMA REGLER */

/* RAND 2 */
.ljusRandAktuellt {
  background-color: #F4E6D6;
  } /* SLUT PÅ RAND 2 */
/* RAND 1 OCH 3 */
.darkRandAktuellt {
  background-color: #ead8c8;
  } /* SLUT PÅ RAND 1 OCH 3 */

    /* Den vänstra kolumnen i ränderna på sidan "Aktuellt" */
    .randAktuelltLeft {
      float: left;
      width: 75%;
    }
    /* Den högra kolumnen i ränderna på sidan "Aktuellt" */
    .randAktuelltRight {
      display: flex;
      float: right;
      width: 25%;
      height: auto;
    }
/* ÖVRIGT I HUVUBOXEN */
.darkRandAktuellt h3, .ljusRandAktuellt h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "open-sans", arial, helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 10px 0px;
}
.randAktuelltContainer { /* Box i boxen, CHILD to "ljusRandAktuellt", PARENT to "randAktuelltLeft" and "randAktuelltRight" */
display: flex;
flex-direction: row;
width: 100%;
}
.randAktuelltChild {
  width: 100%;
} /* SLUT PÅ HUVUDBOX PÅ SIDAN "AKTUELLT" */

/* START PÅ BILDGALLERI */
.bildgalleri {
width: 33.33%;
float: left;
} /* SLUT PÅ BILDGALLERI */

/* MOBILE-VERSION */
@media only screen and (max-width: 600px) { /* If the screen is smaller than 600px*/

/* START MOBIL-ÄNDRINGAR HEADER */
.topnav a:not(:first-child) {display: none;}

.topnav { /* Child of "flex-container-header" */
display: block;
padding: 0px;
}
  .topnav a {
    width: auto;
    margin: 3px 0px 3px 13px;
    color: #000000;
  }
    .topnav a:hover {
      margin-right: 8px;
    }
    .topnav a.active {
      margin-right: 8px;
    }
    .topnav a.icon {
      float: right;
      display: block;
      margin: 3px 13px 5px 0px;
      height: auto;
      width: auto;
      background-color: #F4E4D6;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
      .topnav.responsive {position: relative;}
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }

/* MOBIL-ÄNDRINGAR NAVIGATION BAR PÅ SIDAN "PRICES" */
.sidenav {   /* To hide the navigation bar for the side "prices" */
  display: none;
}

/* MOBIL-ÄNDRINGAR PÅ SIDAN "AKTUELLT" */
.randAktuelltContainer { /* Box i boxen, CHILD to "ljusRandAktuellt", PARENT to "randAktuelltLeft" and "randAktuelltRight" */
display: flex;
flex-direction: column;
width: 100%;
}
.randAktuelltLeft { /* Den vänstra kolumnen i ränderna på sidan "Aktuellt" */
  width: 100%;
}
.randAktuelltRight { /* Den högra kolumnen i ränderna på sidan "Aktuellt" */
  float: left;
  width: 100%;
} /* SLUT PÅ SIDAN AKTUELLT */

/* START MOBIL-ÄNDRINGAR FÖR NUDE BOX PÅ SIDAN "INDEX" */
.flex-container-index-body {
  padding: 0px 40px 0px 40px;
}
  .flex-container-index-body p {
    margin: 10px 0px 20px 0px;
  }

/* START PÅ MOBIL-ÄNDRINGAR FÖR BILDGALLERI */
  .bildgalleri {
  width: 100%;
  } /* SLUT PÅ BILDGALLERI */

/* START MOBIL-ÄNDRINGAR FOOTER */
.flex-container-footer { /* Parent of h1 and "flex-opening-hours" */
width: 100%;
padding: 0px;
text-align: center;
justify-content: center;
}
  .flex-container-footer-h1 { /* Child 1 of "flex-container-footer" */
  padding: 0px;
  text-align: center;
  }
  .flex-opening-hours { /* Child 2 of "flex-container-footer" */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
  }
  .flex-opening-hours h5 {
    padding: 5px 0px 0px 0px;
  }
    .flex-opening-hours-monday, .flex-opening-hours-tuesday, .flex-opening-hours-wednesday, .flex-opening-hours-thursday, .flex-opening-hours-friday {/* Child of "flex-opening-hours" */
    width: 100%;
    }
  .flex-parent-column { /* PARENT of button and flex-contacs */
    padding: 0px;
  }
  .button { /* ONLINE BOOKING BUTTON: child 1 of "flex-contact-us"*/
      margin: 15px 0px 0px 0px;
      width: 80%;
      padding: 15px;
  }
    .flex-contacts p {
      padding: 0px;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

}
